@font-face {
    font-family: "VisbyCF";
    src: url('https://cvdesignr.com/site/template/assets/fonts/VisbyCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "VisbyCF";
    src: url('https://cvdesignr.com/site/template/assets/fonts/VisbyCF-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "VisbyCF";
    src: url('https://cvdesignr.com/site/template/assets/fonts/VisbyCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('https://cvdesignr.com/site/template/assets/fonts/opensans-bold-webfont.woff2') format('woff2'), url('https://cvdesignr.com/site/template/assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('https://cvdesignr.com/site/template/assets/fonts/opensans-bold-webfont.woff2') format('woff2'), url('https://cvdesignr.com/site/template/assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('https://cvdesignr.com/site/template/assets/fonts/opensans-regular-webfont.woff2') format('woff2'), url('https://cvdesignr.com/site/template/assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('https://cvdesignr.com/site/template/assets/fonts/opensans-light-webfont.woff2') format('woff2'), url('https://cvdesignr.com/site/template/assets/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@page {
    margin: 0cm;
    size: A4;
}

#u62d62cb20154b * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
}

#u62d62cb20154b b {
    font-weight: bold !important;
}

#u62d62cb20154b sup {
    font-size: 90%;
    line-height: 0;
}

#u62d62cb20154b b * {
    font-weight: bold !important;
}

#u62d62cb20154b .cv-information-line.EMAIL a {
    color: inherit;
    text-decoration: none;
}

#u62d62cb20154b .cv-information-line.WEBSITE a {
    color: inherit;
    text-decoration: none;
}

#u62d62cb20154b .cv-information-line.DISABLED>.disabled-custom {
    font-size: 0.8em;
}

#u62d62cb20154b .cv-information-line {
    padding-left: 25px;
    position: relative;
    word-wrap: break-word;
}

#u62d62cb20154b .cv-information-line:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 1px;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    width: 20px;
}

#u62d62cb20154b .cv-information-line.EMAIL:before {
    content: '\f0e0';
}

#u62d62cb20154b .cv-information-line.BIRTH_DATE:before {
    content: '\f073';
}

#u62d62cb20154b .cv-information-line.WEBSITE:before {
    content: '\f0c1';
}

#u62d62cb20154b .cv-information-line.CAR_OWNER:before {
    content: '\f1b9';
}

#u62d62cb20154b .cv-information-line.MOBILE_PHONE:before {
    content: '\f098';
}

#u62d62cb20154b .cv-information-line.HOME_PHONE:before {
    content: '\f098';
}

#u62d62cb20154b .cv-information-line.MARITAL_STATUS:before {
    content: '\f0c0';
}

#u62d62cb20154b .cv-information-line.ADDRESS:before {
    content: '\f015';
}

#u62d62cb20154b .cv-information-line.NATIONALITY:before {
    content: '\f11d';
}

#u62d62cb20154b .cv-information-line.DRIVING_LICENSES:before {
    content: '\f2c3';
}

#u62d62cb20154b .cv-information-line.GEO_MOBILITY:before {
    content: '\f041';
}

#u62d62cb20154b .cv-information-line.DISABLED:before {
    content: '\f29a';
}


@font-face {
    font-family: 'Socicon';
    src: url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.eot?xvgs9q');
    src: url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.eot?xvgs9q#iefix') format('embedded-opentype'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.woff2?xvgs9q') format('woff2'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.ttf?xvgs9q') format('truetype'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.woff?xvgs9q') format('woff'), url('https://cvdesignr.com/site/template/views/templates/common/socialFont/Socicon.svg?xvgs9q#Socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#u62d62cb20154b .block-csial .content-container .info-title {
    display: none
}

#u62d62cb20154b .block-csial .content-container {
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

#u62d62cb20154b .block-csial .content-container .socnrk-icon {
    text-align: left;
}

#u62d62cb20154b .block-csial .content-container .socnrk-icon:before {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
    background-size: contain;
    background-position: center;
}

#u62d62cb20154b .block-csial .content-container .info a {
    color: inherit;
    text-decoration: none;
}

#u62d62cb20154b .nt-name.socnrk-icon {
    height: 18px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 18px;
}

#u62d62cb20154b .nt-username {
    display: inline-block;
}

#u62d62cb20154b .nt-username a {
    color: inherit;
    text-decoration: none;
}

#u62d62cb20154b .socnrk-icon:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Socicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#u62d62cb20154b .socnrk-icon.bitbucket:before {
    content: "\e909";
}

#u62d62cb20154b .socnrk-icon.microsoft:before {
    content: "\e90e";
}

#u62d62cb20154b .socnrk-icon.messenger:before {
    content: "\e906";
}

#u62d62cb20154b .socnrk-icon.gamewisp:before {
    content: "\e905";
}

#u62d62cb20154b .socnrk-icon.behance:before {
    content: "\e010";
}

#u62d62cb20154b .socnrk-icon.deviantart:before {
    content: "\e01a";
}

#u62d62cb20154b .socnrk-icon.dribbble:before {
    content: "\e021";
}

#u62d62cb20154b .socnrk-icon.drupal:before {
    content: "\e022";
}

#u62d62cb20154b .socnrk-icon.facebook:before {
    content: "\e028";
}

#u62d62cb20154b .socnrk-icon.github:before {
    content: "\e032";
}

#u62d62cb20154b .socnrk-icon.google:before {
    content: "\e034";
}

#u62d62cb20154b .socnrk-icon.googleplus:before {
    content: "\e038";
}

#u62d62cb20154b .socnrk-icon.instagram:before {
    content: "\e044";
}

#u62d62cb20154b .socnrk-icon.linkedin:before {
    content: "\e04c";
}

#u62d62cb20154b .socnrk-icon.outlook:before {
    content: "\e05d";
}

#u62d62cb20154b .socnrk-icon.skype:before {
    content: "\e073";
}

#u62d62cb20154b .socnrk-icon.stackoverflow:before {
    content: "\e07b";
}

#u62d62cb20154b .socnrk-icon.telegram:before {
    content: "\e087";
}

#u62d62cb20154b .socnrk-icon.tumblr:before {
    content: "\e08b";
}

#u62d62cb20154b .socnrk-icon.twitter:before {
    content: "\e08d";
}

#u62d62cb20154b .socnrk-icon.viadeo:before {
    content: "\e090";
}

#u62d62cb20154b .socnrk-icon.vkontakte:before {
    content: "\e095";
}

#u62d62cb20154b .socnrk-icon.whatsapp:before {
    content: "\e099";
}

#u62d62cb20154b .socnrk-icon.xing:before {
    content: "\e09f";
}

#u62d62cb20154b .socnrk-icon.youtube:before {
    content: "\e0a5";
}

#u62d62cb20154b .socnrk-icon.pinterest:before {
    content: "\e063";
}

#u62d62cb20154b .socnrk-icon.researchgate:before {
    content: "\e06e";
}

#u62d62cb20154b .socnrk-icon.wechat:before {
    font-family: 'FontAwesome' !important;
    content: '\f1d7';
}

#u62d62cb20154b .socnrk-icon.gitlab:before {
    font-family: 'FontAwesome' !important;
    content: '\f296';
}

#u62d62cb20154b .cv-page p span a {
    color: inherit !important;
    text-decoration: underline;
}

#u62d62cb20154b .cv-page p a {
    color: #00e !important;
    text-decoration: underline;
}

#u62d62cb20154b * {
    font-size: 11px;
    line-height: 14px;
    font-family: 'OpenSans';
    font-weight: 500
}

#u62d62cb20154b .cv-information-line:before {
    font-size: 11px;
}

#u62d62cb20154b .nt-name.socnrk-icon {
    height: 11px;
}

#u62d62cb20154b .cv-template-base {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0;
    overflow: hidden;
    min-height: 29.7cm;
}

#u62d62cb20154b .cv-template-base p {
    display: inline;
}

#u62d62cb20154b .block-html p {
    display: block;
}

#u62d62cb20154b .tpl-column .tpl-column__content {
    padding: 15px 36px 0;
}

#u62d62cb20154b .cv-template-base--page1 .tpl-column__content {
    padding-top: 45px;
}

#u62d62cb20154b .tpl-column.tpl-column--left {
    width: 250px;
    background-color: #D8EBFD;
    color: #333333;
}

#u62d62cb20154b .tpl-column.tpl-column--left .cv-block-title .title-text {
    color: #0FABE7;
}

#u62d62cb20154b .tpl-column.tpl-column--left .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 155px 310px 0 0;
    border-color: #0FABE7 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#u62d62cb20154b .tpl-column.tpl-column--left .triangle.small {
    border-width: 40px 310px 0 0;
}

#u62d62cb20154b .tpl-column.tpl-column--right {
    width: 451px;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

#u62d62cb20154b .tpl-column.tpl-column--right .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 601px 90px 0;
    border-color: transparent #E05B27 transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

#u62d62cb20154b .cv-photo {
    display: block;
    width: 3.5cm;
    height: 3.5cm;
    margin: -20px auto 8px;
    border-radius: 50%;
    position: relative;
}

#u62d62cb20154b h1 .cv-username span {
    font-size: 17px;
    line-height: 16px;
    font-weight: 500;
    font-family: 'VisbyCF';
    color: #222222;
}

#u62d62cb20154b .cv-job-sought {
    display: block;
    width: 75%;
    color: #E05B27;
    font-size: 17px;
    line-height: 20px;
    font-weight: 900;
    font-family: 'VisbyCF';
    padding-top: 8px;
}

#u62d62cb20154b .cv-bio {
    padding-top: 8px;
}

#u62d62cb20154b .cv-block-title:not(.cv-block-hidden) {
    padding: 5px 0 2px;
    display: block;
    border-color: #E05B27;
    color: #E05B27;
}

#u62d62cb20154b .cv-block-title .title-text,
#u62d62cb20154b .cv-block-title .title-text span {
    font-size: 15px;
    font-weight: 900;
    font-family: 'VisbyCF';
}

#u62d62cb20154b .content-flex-row {
    display: flex;
    flex-direction: row;
}

#u62d62cb20154b .content-flex-row--subtitle {
    padding: 4px 0 2px;
}

#u62d62cb20154b .content-flex-row--subtitle>div:first-child {
    margin-right: 4px;
}

#u62d62cb20154b .cv-content {
    padding: 0;
}

#u62d62cb20154b ul {
    margin: 0;
    padding: 2px 0 0 4px;
}

#u62d62cb20154b ul li {
    list-style-type: disc;
    padding: 0;
}

#u62d62cb20154b ul li:last-child {
    margin-bottom: 0;
}

#u62d62cb20154b

/* etat civil */
.cv-information-line {
    margin-bottom: 4px;
}

#u62d62cb20154b .cv-information-line.EMAIL {
    /* white-space: nowrap;
      word-break: break-all; */
}

#u62d62cb20154b

/* social network */
.nt-row {
    padding: 3px 0 0 0;
}

#u62d62cb20154b

/* bloc libre */
.block-html {
    padding: 6px 0 0 0;
}

#u62d62cb20154b

/* Formation */
.formation {
    padding: 6px 0 0 0;
}

#u62d62cb20154b .formation-date {
    color: #777;
}

#u62d62cb20154b .formation-date strong {
    color: #444;
    font-weight: 400;
}

#u62d62cb20154b .formation-date-dot {}

#u62d62cb20154b .formation-content {}

#u62d62cb20154b .formation-label {
    display: inline;
    color: #111;
    font-weight: 700;
}

#u62d62cb20154b .formation-place {
    color: #444;
    display: inline;
}

#u62d62cb20154b .formation-details {
    color: #444;
    display: block;
}

#u62d62cb20154b

/* Contenus simple */
.cv-info-line {
    padding: 6px 0 0 0;
}

#u62d62cb20154b .info-line-title {
    display: block;
    font-weight: 700;
    padding-right: 4px;
}

#u62d62cb20154b .info-line-title.hiddentitle {
    display: none;
}

#u62d62cb20154b .info-line-content {
    display: block;
}

#u62d62cb20154b .cv-asset-details p,
#u62d62cb20154b .info-line-content p {
    margin: 2px 0;
    display: block;
}

#u62d62cb20154b

/* Contenus extras pros et pros */
.pro-experience {
    padding: 6px 0 0 0;
}

#u62d62cb20154b .experience-date {
    color: #777;
}

#u62d62cb20154b .experience-date strong {
    color: #444;
    font-weight: 400;
}

#u62d62cb20154b .experience-date-dot {}

#u62d62cb20154b .experience-content {}

#u62d62cb20154b .experience-label {
    display: inline;
    color: #111;
    font-weight: 700;
}

#u62d62cb20154b .experience-details {
    color: #444;
    display: block;
}

#u62d62cb20154b .experience-place {
    color: #444;
    display: inline;
}

#u62d62cb20154b .experience-service {}

#u62d62cb20154b .experience-city {}

#u62d62cb20154b

/* Atouts */
.asset {
    padding: 6px 0 0 0;
}

#u62d62cb20154b
/*.asset.fullwidth{
      margin-top: 6px;
  }
#u62d62cb20154b */

.cv-asset-label {
    display: block;
    font-weight: 700;
    padding-right: 6px;
}

#u62d62cb20154b .asset.fullwidth .cv-asset-label {
    display: block;
    min-height: 1px;
}

#u62d62cb20154b .cv-asset-details {
    display: block;
}

#u62d62cb20154b .cv-asset-details:not(.cv-content--inline) p {
    display: block;
}

#u62d62cb20154b .asset.fullwidth .cv-asset-details {
    display: block;
    margin-left: 0;
}

#u62d62cb20154b .special-tests-scores {
    padding-top: 5px;
}

#u62d62cb20154b .percent {
    display: block;
    height: 5px;
    width: 100%;
    background: rgba(155, 155, 155, .3);
    margin: 6px 0 6px;
    position: relative;
    border-radius: 2px;
}

#u62d62cb20154b .tpl-column--left .percent {
    display: block;
    width: 80%;
}

#u62d62cb20154b .tpl-column--right .percent {
    display: block;
    width: 50%;
}

#u62d62cb20154b .percent .set-p {
    background: #09F;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
}

#u62d62cb20154b

/* Texte libre */
.cv-free-block {}

#u62d62cb20154b .cv-free-block .info-content .cv-info-line {
    padding-left: 0;
}

#u62d62cb20154b

/* Bloc complémentaire */
.cv-info-block {}

#u62d62cb20154b
/* propriétés communes */

.formation .formation-details,
#u62d62cb20154b .pro-experience .experience-details {
    margin-top: 0;
    padding-bottom: 2px;
}

#u62d62cb20154b .formation,
#u62d62cb20154b .pro-experience {
    padding-left: 20px;
    position: relative;
    border-left: 1px solid;
    margin-left: 5px;
}

#u62d62cb20154b .formation .formation-details,
#u62d62cb20154b .pro-experience .experience-details {}

#u62d62cb20154b .content-container:first-child .cv-content.formation,
#u62d62cb20154b .content-container:first-child .cv-content.pro-experience {
    padding-top: 1px;
    margin-top: 5px;
}

#u62d62cb20154b .formation::after,
#u62d62cb20154b .pro-experience::after {
    background-color: #111;
    content: "";
    position: absolute;
    left: -5px;
    top: 10px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

#u62d62cb20154b .content-container:first-child .formation::after,
#u62d62cb20154b .content-container:first-child .pro-experience::after {
    top: 5px;
}

#u62d62cb20154b ul {
    margin: 0;
    padding: 2px 0 0 20px;
}

#u62d62cb20154b .formation .formation-details p,
#u62d62cb20154b .pro-experience .experience-details p {
    margin: 2px 0 0;
    display: block;
}

#u62d62cb20154b .formation .formation-details ul li,
#u62d62cb20154b .pro-experience .experience-details ul li,
#u62d62cb20154b .info-line-content ul li {
    list-style-type: disc;
}

#u62d62cb20154b .cv-block {
    margin-top: 0;
    padding-top: 10px;
}

#u62d62cb20154b .tpl-column--left .cv-block {
    padding-top: 10px;
}

#u62d62cb20154b .cv-template-base--pagex .tpl-column__content .cv-container .cv-block:first-of-type {
    padding-top: 0;
}

#u62d62cb20154b .percent .set-p {
    background-color: #E05B27;
}

#u62d62cb20154b .tpl-column.tpl-column--left .percent .set-p {
    background: #E05B27;
}

#u62d62cb20154b .tpl-column.tpl-column--left .info-line-title,
#u62d62cb20154b .tpl-column.tpl-column--left .cv-asset-label {
    color: #000000;
}

#u62d62cb20154b .experience-company,
#u62d62cb20154b .formation-school {
    color: #E05B27;
}

#u62d62cb20154b .lastname {
    text-transform: uppercase;
}